/*---------cross.ui-------------------------*/
/* buttons color
-----------------------------------------------------------------------------*/
.c-btn-087eff { background-color: #087eff; }
.c-btn-087eff:hover { background-color: #0771e5; }
.c-btn-588cd5 { background-color: #588cd5; }
.c-btn-588cd5:hover { background-color: #4680d0; }
.c-btn-37a6ec { background-color: #37a6ec; }
.c-btn-37a6ec:hover { background-color: #3195d4; }
.c-btn-4dcd70 { background-color: #4dcd70; }
.c-btn-4dcd70:hover { background-color: #45b865; }
.c-btn-4db944 { background-color: #4db944; }
.c-btn-4db944:hover { background-color: #45a63d; }
.c-btn-309765 { background-color: #309765; }
.c-btn-309765:hover { background-color: #2b885b; }
.c-btn-ff9600 { background-color: #ff9600; }
.c-btn-ff9600:hover { background-color: #e58700; }
.c-btn-ff8100 { background-color: #ff8100; }
.c-btn-ff8100:hover { background-color: #e57400; }
.c-btn-fc6155 { background-color: #fc6155; }
.c-btn-fc6155:hover { background-color: #e2574c; }
.c-btn-ff3b2f { background-color: #ff3b2f; }
.c-btn-ff3b2f:hover { background-color: #e5352a; }
.c-btn-f9f9f9 { background-color: #f9f9f9; color: #087eff; border: #c0c0bc 1px solid; }
.c-btn-f9f9f9:hover { background-color: #e0e0e0; }
.c-btn-ffffff { background-color: #ffffff; color: #4dcd70; border: #e1e1e1 1px solid; }
.c-btn-ffffff:hover { background-color: #e5e5e5; }
.c-btn-fff { background-color: #ffffff; color: #999999; border: #e1e1e1 1px solid; }
.c-btn-fff:hover { background-color: #e5e5e5; }
.c-btn-ff3 { background-color: #ffffff; color: #ff3b2d; border: #e1e1e1 1px solid; }
.c-btn-ff3:hover { background-color: #e5e5e5; }
/**************************************************/
/* css c-list
-----------------------------------------------------------------------------*/
.list-icon { height: 8px; width: 8px; position: relative; display: inline-block; }
.arrow-right { display: block; width: 8px; height: 8px; border: solid #cdcdcd; border-width: 2px 2px 0 0; -webkit-transform: rotate(45deg); -moz-transform: rotate(45deg); -ms-transform: rotate(45deg); -o-transform: rotate(45deg); transform: rotate(45deg); }
.c-list-group { }
.c-list-group h3 { padding: 6px 15px; background-color: #f9f9f9; font-size: 13px; color: #5b5b5b; margin: 0; vertical-align: middle; }
.c-list { background-color: #fff; }
.c-list > li, .c-list > .c-list-div { font-size: 17px; color: #333; position: relative; display: -webkit-box; display: box; margin-left: 15px; border-top: 1px solid #f1f1f1; }
.c-list > .c-list-text { line-height: 20px; padding: 12px 15px 12px 0; }
.c-list > .c-list-function { border-top: none; }
.c-list > .c-list-function .c-list-info { border-top: 1px solid #f1f1f1; }
.c-list > li:first-child, .c-list > .c-border-t:first-child, .c-list >li:first-child .c-border-t, .c-list > .c-list-function:first-child, .c-list > .c-list-function:first-child .c-list-info, .c-list > div:first-child .c-border-t, .c-list > div:first-child { border: 0; background-image: none }
.c-list > .c-list-cover { padding-left: 15px !important; margin-left: 0 !important; }
.c-list .c-list-info { -webkit-box-flex: 1; box-flex: 1; padding-right: 15px; display: box; display: -webkit-box; -webkit-box-orient: vertical; -webkit-box-pack: center; }
.c-list h4 { color: #333 !important; }
.c-list .c-list-info > h4 { font-size: 18px; line-height: 20px }
.c-list .c-list-info > p { font-size: 16px; line-height: 20px; color: #909090; }
.c-list .c-list-label { font-size: 16px !important; color: #909090 !important; padding: 10px 15px 10px 0!important; border-top: 1px dashed #e1e1e1 !important; }
.c-list .c-list-key { margin-right: 15px; }
.c-list .c-list-img { width: 100px; height: 68px; margin: 10px 10px 10px 0; position: relative }
.c-list .c-list-img img { width: auto; height: 68px; }
.c-list > .c-list-link:active { background-color: #e5e6e7; padding-left: 15px; margin-left: 0 }
.c-list-link:active, .c-list-link.c-border-t:active, .c-list-link:active + .c-border-t, .c-list-link:active + .c-border-t { background-image: none; border-top-color: #e5e6e7 }
.c-list .c-list-value { color: #909090; display: box; display: -webkit-box; -webkit-box-orient: vertical; -webkit-box-pack: center; }
.c-list .c-list-title { }
.c-list .c-list-link .c-list-value, .c-list .c-list-link .c-list-title { padding-right: 20px; }
.c-list .c-list-badge, .c-list .c-list-action { font-size: 13px; color: #909090; position: absolute; height: 100%; right: 15px; display: box; display: -webkit-box; -webkit-box-orient: vertical; -webkit-box-pack: center; top: 0; }
.c-list-link .c-list-badge, .c-list-link .c-list-action { right: 35px }
.c-list-link .list-icon { position: absolute; right: 15px; top: 50%; margin-top: -4px; }
.c-list .c-avatar-s, .c-list .c-avatar-m, .c-list .c-avatar-l { margin: 10px 15px 10px 0; overflow: hidden; display: -webkit-box; -webkit-box-pack: center; -webkit-box-align: center; }
.c-list-indent-s { padding-right: 70px !important; }
.c-list-indent-m { padding-right: 110px !important; }
.c-list-action .input-group-checkbox .input-group-pack, .c-list-action .input-group-radio .input-group-pack { margin: 0 0 0 5px; }
.c-avatar-s { width: 26px; height: 26px; }
.c-avatar-m { width: 45px; height: 45px; }
.c-avatar-l { width: 54px; height: 54px; }
.c-avatar-s img, .c-avatar-m img, .c-avatar-l img { width: 100%; height: 100%; }
.c-list-text .c-t-right { color: #909090 !important; }
.c-list-text .c-t-right { padding-right: 0px; color: #909090; }
.c-list-link .c-t-right { padding-right: 20px !important; }
.c-border, .c-border-t, .c-border-b, .c-border-l, .c-border-r, .c-border-tb { border-color: #e1e1e1; border-style: solid; }
.ui-grid { display: -webkit-box; display: box; }
.ui-col-0 { -webkit-box-flex: 0; box-flex: 0; }
.ui-col-1 { -webkit-box-flex: 1; box-flex: 1; }
.ui-arrow, .ui-arrow s { position: relative; display: block; font-size: 0; line-height: 0; width: 0; height: 0; border-color: transparent; border-style: dashed; border-width: 5px; }
.ui-arrow-r, .ui-arrow-r s { border-left-color: #aaa; border-left-style: solid; }
.ui-arrow-r s { border-left-color: #fff; position: absolute; left: -7px; top: -5px; }
.c-btn-4dcd70 { background-color: #4dcd70; }
.c-btn-74bf00 { background-color: #74BF00; }
.c-btn-4dcd70:hover { background-color: #45b865; }
.c-btn-fff { background-color: #ffffff; color: #999999; border: #e1e1e1 1px solid; }
.c-btn-fff:hover { background-color: #e5e5e5; }
body, html { width: 100%; height: 100%; background: #f3f3f3; }
/* 健康管理师 */
.sdoc-top { height: 180px; background: url(../images/banner1.jpg) no-repeat; background-size: 100% 100%; -webkit-background-size: 100% 100%; -moz-background-size: 100% 100%; text-align: center; padding: 20px 15px 0 15px; font-size: 12px; color: #fff; text-shadow: 0px 0px 2px rgba(0,0,0,0.6); line-height: 23px; position: relative; }
.sdoc-top .sdimg { display: block; margin: 0 auto 10px auto; width: 60px; height: 60px; padding: 1px; background-color: rgba(250,250,250,.75); border-radius: 50%; }
.sdoc-top.smil { padding: 38px 15px 36px; height: 100px; background: url(../images/p-bg-top.png) no-repeat; background-size: 100% 100%; }
.sdoc-top.smil.short { height: 60px; }
.sdoc-top.smil .sdimg { margin: 0; width: 56px; height: 56px; border-radius: 56px; overflow: hidden; padding: 0; background: rgb(250,250,250);}
.sdoc-top.smil .sdimg img { width: 56px; height: 56px; }
.ff6600 { color: #ff6600; }
.pb60 { padding-bottom: 60px; }
.slider-detail h2 { color: #333333; }
.slider-detail p { color: #888888; }
.slider-detail li { padding: 10px 0 12px 0; position: relative; border-bottom: 1px solid #e1e1e1; }
.slider-detail li:last-child { border: none; }
.slider-detail li span { position: absolute; bottom: 0px; right: 15px; }
.slider-detail p.show { display: -webkit-box; overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; -webkit-line-clamp: 2; }
.arrow-down, .arrow-up { display: inline-block; width: 8px; height: 8px; border: solid #cdcdcd; border-width: 2px 2px 0 0; cursor: pointer; -webkit-transform: rotate(135deg); -moz-transform: rotate(135deg); transform: rotate(135deg); }
.arrow-up { -webkit-transform: rotate(-45deg); -moz-transform: rotate(-45deg); transform: rotate(-45deg); }
.line-click { width: 100%; height: 15px; position: relative; }
.menu-boxer span { width: 60px; height: 60px; text-align: center; color: #fff; line-height: 60px; display: block; border-radius: 60px; margin: 15px auto 0; }
.menu-boxer span i { font-size: 40px; }
.menu-boxer p { color: #666666; font-size: 14px; text-align: center; padding-top: 5px; }
.menu-boxer span.green-bg { background: #38e4a5; }
.menu-boxer span.red-bg { background: #f2417f; }
.menu-boxer span.org-bg { background: #ffb30f; }
.menu-boxer span.blue-bg { background: #32a7f9; }
/*提交成功*/
.data-noticebox { padding-top: 15%; text-align: center; }
.data-noticebox i { color: #4dcd70; font-size: 80px; line-height: 80px; }
.data-noticebox p { padding-left: 48px; padding-right: 48px; }
.data-noticebox p span { color: #333333; }
.data-noticebox .bottom-box { padding: 30px 15px 0; }
.bottom-box a.c-btn { width: 45%; padding: 12px 30px; }
.bottom-box { box-sizing: border-box; }
.bottom-box a { box-sizing: border-box; }
.ts-boxer { max-width: 320px; width: 40%; margin: 0 auto; }
.ts-noti { background: url(../images/pingjia.png) no-repeat center center; height: 0; background-size: 100% auto; width: 100%; padding-bottom: 100%; display: block; }
/*评价*/
.evaluation-boxer { }
.evaluation-boxer .scoresr { padding: 6px 15px; color: #666666; line-height: 36px; }
.evaluation-boxer .scoresr i { font-size: 24px; color: #c5c3c3; }
.evaluation-boxer .scoresr li.checked i { color: #ff7200; }
.scoresr li { float: left; width: 31.4px; height: 24px; }
.words-box textarea { border: none; box-sizing: border-box; padding: 10px 15px; font-size: 14px; }
.com-bottom { padding: 0 15px; }
.ti-star { margin-top: 7px; background: url(../images/tip-star.png) no-repeat; text-align: left; width: 157px; height: 22px; background-size: cover; overflow: hidden; background-position: 0 -22px; }
.ti-star ul { background: url(../images/tip-star.png) no-repeat; width: 157px; height: 22px; background-size: cover; overflow: hidden; background-position: 0 -22px; }
.ti-star ul.one { background-position: -134px 0; }
.ti-star ul.two { background-position: -101px 0; }
.ti-star ul.three { background-position: -67px 0; }
.ti-star ul.four { background-position: -34px 0; }
.ti-star ul.five { background-position: 0 0; }
/*csx*/
.ptb12 { padding-top: 12px; padding-bottom: 12px; }
.n-list { background-color: #fff; }
.n-list > li, .n-list > .n-list-li { position: relative; display: -webkit-box; display: box; box-pack: center; padding-right: 15px; margin-left: 15px; border-top: 1px solid #f1f1f1; clear: both; }
.n-list > li:first-child, .n-list > .n-list-li:first-child { border-top: none; }
.n-list > .n-list-link:active { background-color: #f7f7f7; padding-left: 15px; margin-left: 0 }
.n-list > .n-list-cover { padding-left: 15px; margin-left: 0; }
.n-list > .list-arrow-r, .n-list > .list-arrow-d, .n-list > .list-arrow-u { padding-right: 30px }
.n-list > .list-arrow-r:after, .n-list > .list-arrow-d:after, .n-list > .list-arrow-u:after { position: absolute; top: 50%; right: 15px; margin-top: -5px; content: ""; display: block; width: 8px; height: 8px; border: solid #cdcdcd; border-width: 2px 2px 0 0; -webkit-transform: rotate(45deg); -moz-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg); }
.n-list > .list-arrow-d:after { right: 13px; margin-top: -8px; -webkit-transform: rotate(135deg); -moz-transform: rotate(135deg); -ms-transform: rotate(135deg); transform: rotate(135deg); }
.n-list > .list-arrow-u:after { right: 13px; margin-top: -2px; -webkit-transform: rotate(-45deg); -moz-transform: rotate(-45deg); -ms-transform: rotate(-45deg); transform: rotate(-45deg); }
.n-list-title { display: -webkit-box; display: -moz-box; display: box; -webkit-box-orient: vertical; -moz-box-orient: vertical; box-orient: vertical; -webkit-box-pack: start; -moz-box-pack: start; box-pack: start; }
.n-list-key, .n-list-info { display: -webkit-box; display: -moz-box; display: box; -webkit-box-orient: vertical; -moz-box-orient: vertical; box-orient: vertical; -webkit-box-pack: center; -moz-box-pack: center; box-pack: center; }
.n-list-info { display: -webkit-box; display: -moz-box; display: box; -webkit-box-flex: 1; -moz-box-flex: 1; box-flex: 1; }
.n-list-flex { display: -webkit-box; display: -moz-box; display: box; -webkit-box-flex: 1; -moz-box-flex: 1; box-flex: 1; }
.n-list > .n-list-function { border-top: none; padding-right: 0; }
.n-list > .n-list-function .n-list-flex { border-top: 1px solid #f1f1f1; }
.n-list > .n-list-function:first-child .n-list-flex { border-top: none; }
.n-list > li:first-child, .n-list > .n-list-function:first-child, .n-list > .n-list-function:first-child .n-list-info, .n-list > div:first-child { border: 0; }
.n-list > .n-list-label { border-top: none; padding-right: 0; }
.n-list .n-list-img { width: 100px; height: 68px; overflow: hidden; position: relative }
.n-list .n-list-img img { width: 100%; height: auto; }
.required { position: relative; }
.required:before { content: "*"; position: absolute; color: #f00; font-size: 14px; height: 12px; line-height: 12px; vertical-align: middle; left: -10px; top: 50%; margin-top: -5px; }
.n-avatar-s, .n-avatar-m, .n-avatar-l { width: 26px; height: 26px; display: -webkit-box; -webkit-box-pack: center; -webkit-box-align: center; }
.n-avatar-m { width: 40px; height: 40px; }
.n-avatar-l { width: 54px; height: 54px; }
.n-avatar-s img, .n-avatar-m img, .n-avatar-l img { width: 100%; height: 100%; }
/* 填写信息 */
.edit-info>li .n-list-key:first-child { width: 4em; color: #333; }
.edit-info>li .n-list-info { color: #5b5b5b; }
.add-member { color: #5b5b5b; line-height: 24px; vertical-align: middle; }
.add-member .iconfont { font-size: 24px; line-height: 24px; margin-left: 5px; }
.sel-sex li { display: inline-block; line-height: 24px; vertical-align: middle; margin-right: 30px; }
.sel-sex li i { font-family: "iconfont" !important; font-size: 24px; line-height: 24px; font-style: normal; -webkit-font-smoothing: antialiased; -webkit-text-stroke-width: 0.2px; -moz-osx-font-smoothing: grayscale; color: #dfdfdf; margin-right: 5px; }
.sel-sex li i.sex-male:before { content: "\d607"; }
.sel-sex li i.sex-female:before { content: "\d608"; }
.sel-sex li.selected i.sex-male:before { color: #4dcd70; content: "\d60a"; }
.sel-sex li.selected i.sex-female:before { color: #ee90ff; content: "\d60b"; }
.doc-avatar { width: 52px; height: 52px; border-radius: 50%; overflow: hidden; }
.doc-avatar img { width: 100%; height: 100%; }
/*投诉*/
.ts-box { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; width: 100%; padding: 0; border: none; }
.upload-img { overflow: hidden; display: inline-block; }
.upload-img ul li { position: relative; display: inline; float: left; width: 76px; height: 76px; padding: 0 10px 10px 0; }
.upload-img ul li img { width: 100%; height: 100%; }
.add-btn { position: relative; display: block; width: 74px; height: 74px; font-size: 0; color: #b8b8b8; border: 1px dashed #a0a0a0; background: #fff; }
.add-btn:before { content: ""; display: block; position: absolute; top: 34px; left: 22px; width: 30px; height: 2px; background: #a0a0a0; }
.add-btn:after { content: ""; display: block; position: absolute; top: 20px; left: 36px; width: 2px; height: 30px; background: #a0a0a0; }
.doc-tab li { width: 50%; }
.doc-tab li.hit { border-bottom: 3px solid #4dcd70; }
.doc-tab li.hit a { color: #4dcd70; }
.doc-list-sm { padding: 10px 15px; }
.doc-list-sm span { color: #666; }
.doc-list-sm b { color: #333; font-weight: normal; }
.delimgpop { position: fixed; width: 100%; height: 100%; left: 0; top: 0; background: #000; text-align: center; z-index: 2200; }
.del-img-box { width: 100%; height: 100%; display: table; }
.del-img-con { display: table-cell; vertical-align: middle; }
.del-img-con img { width: auto; height: auto; }
.del-img-con p { position: relative; display: inline-block; min-width: 100px; text-align: center; }
.del-img-box p:after { position: absolute; top: 0; left: 0; content: ""; background: rgba(255,255,255,.6); width: 100%; height: 40px; z-index: 10; }
.del-img-btn { display: inline-block; height: 40px; line-height: 40px; position: absolute; top: 0; right: 0; z-index: 20; padding: 0 15px; text-align: right; color: #000; }
.del-img-btn .iconfont { font-size: 20px; margin-right: 4px; }
/*2015.10.9*/
.w4em { width: 4em; }
.c-ff5bd3 { color: #ff5bd3; }
.c-images-cycle { border-radius: 50%; overflow: hidden; }
.word-bread { white-space: pre-wrap; word-wrap: break-word; word-wrap: break-all; }
/*健康指导*/
.histroy-title { padding: 8px 15px; color: #5b5b5b; font-size: 13px; }
.histroy-title .iconfont { color: #c5c5c5; }
.doctor-talk { padding: 6px 15px; font-size: 13px; }
.doctor-talk .iconfont { color: #37a6ed; font-size: 20px; }
/*已建档*/
.common-title { font-size: 13px; padding: 8px 15px; color: #5b5b5b; }
.tz-record-list .n-list-key { padding: 12px 20px 12px 0; }
.tz-record-list .n-avatar-m { font-size: 13px; border-radius: 50%; overflow: hidden; text-align: center; }
.tz-record-list .n-list-flex { padding: 12px 0; }
.tz-record-list .n-list-info { padding-right: 25px; }
.tz-record-list .n-list-info p { font-size: 13px; color: #909090; white-space: pre-wrap; word-wrap: break-word; }
.doctor-zd-list .n-list-key { padding: 12px 20px 12px 0; }
.doctor-zd-list .n-avatar-m { border-radius: 50%; overflow: hidden; }
.doctor-zd-list .n-list-flex { padding: 12px 0; }
.doctor-zd-list .n-list-info p { font-size: 13px; color: #909090; white-space: pre-wrap; word-wrap: break-word; }
.health-border-1 { border: 1px solid #ff9806; }
.health-border-2 { border: 1px solid #ff0606; }
.health-border-3 { border: 1px solid #4dcd70; }
.health-border-4 { border: 1px solid #ea68a2; }
.health-border-5 { border: 1px solid #1dbdbf; }
.health-border-6 { border: 1px solid #37a6ed; }
.health-border-7 { border: 1px solid #ae5da1; }
.dis-more-box { background: #fff; border-top: 1px solid #f1f1f1; }
.dis-more { display: block; padding: 10px 15px; }
.dis-more span { position: relative; color: #007cd9; font-size: 13px; display: inline-block; padding-right: 20px; }
.dis-more span:after { display: inline-block; position: absolute; right: 0; top: 2px; content: ""; width: 8px; height: 8px; border: solid #007cd9; border-width: 2px 2px 0 0; cursor: pointer; -webkit-transform: rotate(135deg); -moz-transform: rotate(135deg); transform: rotate(135deg); transition: all 0.5s; -webkit-transition: all 0.5s; }
.dis-more span.rotate:after { top: 8px; -webkit-transform: rotate(-45deg); -moz-transform: rotate(-45deg); transform: rotate(-45deg); transition: all 0.5s; -webkit-transition: all 0.5s; }
.no-data { width: 100%; font-size: 13px; color: #909090; text-align: center; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.no-data-img { width: 40%; max-width: 320px; margin: 0 auto; }
.no-zhidao-icon { width: 100%; height: 0; padding-bottom: 100%; background: url(../images/no-zhidao.png) no-repeat 0 0; background-size: 100% auto; }
.no-data p { padding-top: 10px; }
/*曲线*/
.curve-tab { padding: 10px 7px; background: #f3f3f3; overflow: hidden; }
.curve-tab li { float: left; width: 25%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; padding: 0 8px; }
.curve-tab li a { display: inline-block; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; width: 100%; height: 28px; line-height: 28px; font-size: 14px; border-radius: 3px; text-align: center; color: #333; border: 1px solid #e1e1e1; background: #fff; }
.curve-tab li.current a { background: #4dcd70; border: 1px solid #4dcd70; color: #fff; }
.curve-box {padding: 0px;}
.curve-charts { width: 100%;height: 220px;}
.curve-box .swiper-container {padding-bottom: 40px;}
.chart-zt { text-align: right;padding: 0px 15px;font-size: 13px;}
.chart-zt li { display: inline-block; margin-left: 15px; }
.chart-zt li i { display: inline-block; width: 10px; height: 10px; border-radius: 50%; }
.chart-title { text-align: center;padding: 0px;font-size: 13px;}
.chart-title li { display: inline-block; margin-right: 15px; }
.chart-title li i { display: inline-block; width: 16px; height: 4px; margin-bottom: 3px; }
.bgc-0ad800 { background: #0ad800; }
.bgc-f00 { background: #f00; }
.bgc-0ad800 { background: #0ad800; }
.bgc-f00 { background: #f00; }
.bgc-b6a2de { background: #b6a2de; }
.bgc-5dd1d2 { background: #5dd1d2; }
/*健康头条*/
.news-list li { padding-top: 12px; padding-bottom: 12px; }
.news-pic { width: 60px; height: 60px; border-radius: 4px; overflow: hidden; }
.news-pic img { width: 100%; height: 100%; }
.pull-more { display: block; text-align: center; color: #5b5b5b; font-size: 14px; padding: 10px 0; }
.pull-more:active { background: rgba(0,0,0,.05); }
.art-detil { padding: 15px; }
.art-detil h1 { font-size: 18px; line-height: 30px; color: #333; }
.art-detil a { color: #137bf2; }
.art-detil img { max-width: 100%; display: block; margin: 10px auto; }
.art-con p { color: #666; font-size: 14px; line-height: 1.5em; padding: 5px 0; text-indent: 2em; white-space: pre-wrap; word-wrap: break-word; word-wrap: break-all; }
.art-con a { display: block; clear: both; color: #137bf2; }
/* 个人中心 */
.addp-list .input-group-addon { min-width: 100%; width: 90px; text-align: right; }
.mem-top { background-color: #fafafa; position: relative; }
.men-list li { position: relative; }
.men-list .icon-wodesuifang1, .men-list .icon-wodeziliao { color: #cf678c;}
.men-list .icon-wodejiating, .men-list .icon-jiankangzhishi { color: #a8db5c;}
.men-list .icon-yongyaojilu, .men-list .icon-yongyaojilu { color: #f05b1a;}
.men-list .icon-jiankangguanli { color: #4eb5ce;}
.men-list .icon-wodeyuyue { color: #e7674e;}
.men-list .icon-wodezixun,.men-list .icon-jiankangzhibiao{ color: #ee9d34;}
.men-list .icon-shipinwenzhenjilu { color: #7fc541;}
.men-list .icon-jiankangjilu { color: #46b4f9;}
.men-list .icon-shebeibangding { color: #ea7a28;}
.men-list .icon-binglibaogaoshangchuan { color: #5897cc;}
.men-list .icon-dianzijiankangdangan { color: #e67b85;}
.men-list .icon-yishengzhidao { color: #a37cab;}
.men-list li .c-avatar-s { position: relative; overflow: inherit; vertical-align: middle;}
.men-list .c-list-function {  border-top: 1px solid #f1f1f1;}
.men-list .c-list-function .c-list-info { border-top: none;}
.men-list li .c-list-action { top: 0px; }
.mlnum { position: absolute; top: -4px; right: -4px; width: 12px; height: 12px; background: #ec4300; text-align: center; line-height: 12px; font-size: 8px; color: #fff; }
.men-list li .iconfont { font-size: 26px; display: inline-block; margin: 5px 10px 5px 0;}
.men-list li .qytimes { display: block; position: absolute; right: 15px; top: 50%; margin-top: -10px; font-size: 12px; color: #fff; }
.btn-white-l { background: #fff; color: #f75a53; font-size: 15px; border-top: 1px solid #e1e1e1; border-bottom: 1px solid #e1e1e1; padding: 15px 0; width: 100%; display: block; text-align: center;}
/*健康历程*/
.health-course { position: relative; min-height: 100%; padding: 0 15px; z-index: 100; }
.health-course:after { position: absolute; content: ""; width: 2px; height: 100%; background: #4dcd70; top: 0; left: 36px; z-index: 101; }
.course-year { position: relative; z-index: 200; width: 100%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; margin-top: 15px; }
.course-year i { display: inline-block; width: 46px; height: 46px; line-height: 46px; font-size: 14px; text-align: center; color: #fff; border-radius: 50%; background: #4dcd70; }
.course-date-list { padding-bottom: 5px; }
.course-date-list li { position: relative; padding-left: 40px; z-index: 200; margin-bottom: 15px; }
.course-date-list li:after { position: absolute; content: ""; width: 12px; height: 12px; border-radius: 50%; background: #4dcd70; top: 30px; left: 16px; z-index: 201; }
.coruse-date { height: 20px; font-size: 13px; color: #909090; padding-left: 1em; }
.coruse-con { position: relative; background: #fff; border: 1px solid #e1e1e1; border-radius: 4px; padding: 7px 10px; }
.coruse-con:after { position: absolute; top: 10px; left: -6px; content: ""; width: 10px; height: 10px; border: 1px solid #e1e1e1; border-width: 0 0 1px 1px; background: #fff; -webkit-transform: rotate(45deg); -moz-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg); }
.coruse-con p { font-size: 13px; color: #5b5b5b; white-space: pre-wrap; word-wrap: break-word; word-wrap: break-all; padding: 3px 0; }
.coruse-con p span { color: #333; padding-right: 5px; }
/*门诊详情*/
.outp-details-top { position: fixed; width: 100%; top: 0; left: 0; background: #fff; height: 72px; border-bottom: 1px solid #e1e1e1; color: #333; font-size: 14px; padding: 8px 15px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; z-index: 100; }
.outp-details-top li { width: 50%; height: 28px; line-height: 28px; float: left; padding-right: 5px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.outp-details-top li span { margin-right: 5px; }
.outp-details-top:before { position: absolute; top: 72px; left: 0; content: ""; width: 100%; height: 15px; background: #f3f3f3; border-bottom: 1px solid #e1e1e1; }
.outp-details-top:after { position: absolute; top: 88px; left: 0; content: ""; width: 100%; height: 10px; background: #fff; }
.outp-details-box { padding: 0 15px 30px 15px; background: #fff; margin-top: 97px; }
.outp-details-con { width: 100%; }
.outp-details-con dl { padding-bottom: 10px; }
.outp-details-con dl dt { position: relative; color: #333; font-size: 15px; padding-left: 15px; }
.outp-details-con dl dt:before { position: absolute; content: ""; width: 8px; height: 8px; border-radius: 50%; background: #4dcd70; top: 50%; left: 0; margin-top: -4px; }
.outp-details-con dl dd { color: #666; font-size: 13px; white-space: pre-wrap; word-wrap: break-word; word-wrap: break-all; }
.outp-doctor-info { color: #5b5b5b; font-size: 14px; padding-top: 15px; margin-top: 5px; border-top: 1px dotted #e1e1e1; }
.outp-doctor-info span { color: #333; margin-right: 10px; }
.outp-doctor-info .iconfont { color: #007cd9; margin-right: 5px; }
/*我的圈子*/
.quanzi-top { position: fixed; width: 100%; top: 0; left: 0; background: #fff; height: 75px; border-bottom: 1px solid #e1e1e1; color: #333; font-size: 14px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; z-index: 100; }
.quanzi-top li { width: 50%; height: 75px; padding-top: 12px; text-align: center; font-size: 15px; color: #5b5b5b; float: left; border-right: 1px solid #e1e1e1; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.quanzi-top li:last-child { border-right: none; }
.quanzi-top li .iconfont { font-size: 30px; line-height: 30px; color: #4dcd70; }
.quanzi-top li:last-child .iconfont { color: #37a6ec; }
.quanzi-top:before { position: absolute; top: 75px; left: 0; content: ""; width: 100%; height: 15px; background: #f3f3f3; border-bottom: 1px solid #e1e1e1; }
.quanzi-box { background: #fff; margin-top: 90px; }
.quanzi-list .n-list-key { padding: 12px 20px 12px 0; }
.quanzi-list .n-avatar-m { border-radius: 50%; overflow: hidden; }
.quanzi-list .n-list-flex { padding: 12px 0; }
.quanzi-list .n-list-info { padding-right: 15px; }
/*体重*/
ul.fosx-li .input-group .form-select-arrow { top: 17px; right: 0; }
ul.fosx-li .form-control { text-align: left; padding-right: 30px; }
.ptb8 { padding-top: 8px; padding-bottom: 8px; }
.input-group.bor-radius-tic .form-control { border-radius: 0; }
.no-border { border: none !important; }
.patient-list .form-control { font-size: 17px !important; }
.dwfl { min-width: 53.33px !important; }
.patient-list input { color: #5b5b5b !important; }
.wis-fix .c-list .c-list-value { min-width: 65px; }
.c5b { color: #5b5b5b; }
.c-table.pos td, .c-table.pos th { border-bottom: 1px solid #f1f1f1; border-right: 1px solid #f1f1f1; text-align: center; padding: 5px; font-weight: normal; }
/*体重历史*/
.health-table-blue { background: #32aa6d; color: #fff; overflow: hidden; }
.bg-fff { background-color: #fff; }
.bg-32aa6d { background: #32aa6d; }
.c-333 { color: #333 !important; }
.ptb8 { padding-top: 8px; padding-bottom: 8px; }
/*选择医生*/
.c-ser-into { border: none; }
.hd85 { height: 85px; }
.sarea-box { width: 100%; height: 40px; line-height: 40px; background: #fff; position: fixed; left: 0; top: 0; padding: 0 15px; z-index: 800; }
.sarea-box i.icon-ditudingwei { font-size: 22px; vertical-align: middle; margin: 0 0 4px 0; color: #888; }
.sarea-box i.icon-dingwei { font-size: 22px; vertical-align: middle; margin: 0 0 4px 0; color: #007cd9; }
.sarea-box .list-icon { display: inline-block; vertical-align: middle; margin: 0 0 7px 5px; position: relative; left: 0; top: 0; -webkit-transform: rotate(135deg); -moz-transform: rotate(135deg); -ms-transform: rotate(135deg); -o-transform: rotate(135deg); transform: rotate(135deg); }
.sarea-box .arrow-right { border-color: #cbcbcb; }
.sseach-box { width: 100%; height: 45px; background: #fff; position: fixed; left: 0; top: 40px; padding: 0px 15px 0 15px; z-index: 800; }
.shcom-list ul li .c-list-img { width: 50px; height: 50px; border-radius: 50px; overflow: hidden; }
.shcom-list ul li .c-list-img img { width: 50px; height: 50px; }
.shcom-list ul li .c-list-info { padding-right: 30px; }
.r-15 { right: 15px; }
.c-ccc { color: #ccc; }
.pl25 { padding-left: 25px; }
.c888 { color: #888; }
.c-000 { color: #000; }
.list-icon { height: 8px; width: 8px; position: absolute; display: inline-block; margin-top: -4px; top: 50%; }
.serch-hold { width: 100%; height: 66px; background: #fff; position: fixed; left: 0; top: 0; z-index: 600; padding: 15px 15px 0 15px; display: box; display: -webkit-box; }
.ser-box { border: 1px solid #e1e1e1; border-radius: 4px; height: 36px; font-size: 13px; box-flex: 1; -webkit-box-flex: 1; -moz-box-flex: 1; padding: 0 10px; position: relative; }
.ser-box a.s-initial { display: block; line-height: 34px; /*color:#dfdfdf;*/ position: relative; }
.ser-box .ser-icon { position: absolute; /*right:15px;*/ top: 50%; margin-top: -8px; }
.ser-box .ser-icon:before { content: ""; position: absolute; background: transparent; font-size: 1px; left: 1px; top: 0px; width: 10px; height: 10px; border: 2px solid #ccc; border-radius: 50%; }
.ser-box .ser-icon:after { content: ""; position: absolute; background: transparent; font-size: 1px; left: 11px; top: 12px; width: 6px; height: 2px; background: #ccc; transform: rotate(45deg); -webkit-transform: rotate(45deg); -moz-transform: rotate(45deg); -o-transform: rotate(45deg); -ms-transform: rotate(45deg); }
.ser-box .input-clear { position: absolute; right: 6px; top: 9px; background: #7e7e7e; border-radius: 50%; width: 16px; height: 16px; text-align: center; }
.ser-box .input-clear .close { position: relative; display: inline-block; width: 10px; height: 10px; overflow: hidden; top: -2px; }
.ser-box .input-clear .close:before, .ser-box .input-clear .close:after { content: ''; position: absolute; height: 2px; width: 100%; top: 50%; left: 0px; margin-top: -1px; background: #fff; border-radius: 6px; }
.ser-box .input-clear .close:before { -webkit-transform: rotate(45deg); -moz-transform: rotate(45deg); -ms-transform: rotate(45deg); -o-transform: rotate(45deg); transform: rotate(45deg); }
.ser-box .input-clear .close:after { -webkit-transform: rotate(-45deg); -moz-transform: rotate(-45deg); -ms-transform: rotate(-45deg); -o-transform: rotate(-45deg); transform: rotate(-45deg); }
.ser-text { width: 100%; height: 34px; line-height: normal; }
.s-cancle { display: inline-block; box-flex: 0; -webkit-box-flex: 0; -moz-box-flex: 0; width: 40px; line-height: 40px; text-align: right; color: #007cd9; font-size: 14px; }
.disa-space { width: 100%; background: #eff1f3; height: 10px; position: fixed; left: 0; top: 66px; z-index: 500; }
.disea-div { width: 100%; height: 100%; position: fixed; left: 0; top: 0; padding-top: 76px; z-index: 10; }
.disea-first { width: 32%; height: 100%; background: #f5f5f5; border-top: 1px solid #e1e1e1; float: left; }
.disea-first li a { display: block; height: 50px; line-height: 50px; padding-left: 15px; color: #333; position: relative; font-size: 14px; }
.disea-first li a.hit { background: #fff; color: #4dcd70; }
.disea-first li a .arrow { position: absolute; display: block; font-size: 0; line-height: 0; width: 0; height: 0; border-color: transparent; border-style: dashed; border-width: 6px; right: 0; top: 50%; margin-top: -6px; border-right-color: #ebebeb; border-right-style: solid; }
.disea-first li a.hit .arrow { border-right-color: #fff; }
.disea-sec { width: 68%; height: 100%; background: #fff; border-top: 1px solid #e1e1e1; float: left; padding: 0 0 0 20px; }
.disea-sec li a { display: block; height: 43px; line-height: 43px; color: #666; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; border-bottom: 1px solid #f2f2f2; position: relative; font-size: 14px; }
.result-list { }
.result-list li { line-height: 40px; border-top: 1px solid #f2f2f2; background: #fff; padding: 0 15px; }
.result-list li:first-child { border-top: none; }
.result-list li a { display: block; color: #666; font-size: 14px; }
.no-serch { text-align: center; line-height: 23px; padding: 0 15px; }
.icon-noserch { display: inline-block; width: 110px; height: 110px; background: url(../images/noser.png) no-repeat; background-size: 100% 100%; -webkit-background-size: 100% 100%; -moz-background-size: 100% 100%; -ms-background-size: 100% 100%; margin: 40px 0 5px 0; }
.doc-choo .c-avatar-m { margin: 10px 10px 10px 0; }
/*2015.10.10*/
/*个人中心-选择联系人*/
.ql-boxer { position: fixed; top: 0; width: 100%; left: 0; }
.ql-boxer .c-serdet { padding: 7px 15px 0 15px; }
.choose-chat li i { display: block; width: 20px; height: 20px; }
.choose-chat li i.circ { border: 1px solid #d3d3d3; }
.choose-chat { padding-top: 43px; }
.choose-chat li { position: relative; }
.choose-chat li input { display: none; }
.choose-chat li .c-avatar-m { overflow: hidden; padding-left: 32px; }
.choose-chat li .c-avatar-m img { border-radius: 50%; overflow: hidden; }
.choose-chat li i { position: absolute; width: 20px; height: 20px; top: 18px; left: 15px; border-radius: 20px; }
.choose-chat li i.icon-dagou { text-align: center; color: #fff; background: #4dcd70; line-height: 22px; width: 22px; height: 22px; }
.ts-noda { background: url(../images/no-search.png) no-repeat center center; height: 0; background-size: 100% auto; width: 100%; padding-bottom: 100%; display: block; }
.c-dcdcdc { color: #dcdcdc; }
.choose-chat .search-li li .c-avatar-m { padding-left: 0 }
.c-888 { color: #888888; }
a.a-more { color: #007cd9; display: block; width: 100%; text-align: center; padding: 10px 0; color: #007cd9; font-size: 12px;/* border-top: 1px solid #f1f1f1; */ }
/* 对话 */
.my-team-top { width: 100%; height: 79px; background: #fff; border-bottom: 1px solid #e1e1e1; overflow-x: auto; overflow-y: hidden; }
.my-team-top ul { height: 79px; width: 100%; }
.my-team-top li { float: left; width: 33.33%; height: 70px; padding-top: 9px; text-align: center; color: #666; font-size: 13px; }
.my-team-top li img { width: 40px; height: 40px; border-radius: 50%; overflow: hidden; }
.advis-dialog-box { overflow-y: auto; }
.advis-dialog .ditime { text-align: center; font-size: 12px; color: #aeaeae; line-height: 18px; padding-bottom: 8px; }
.advis-dialog .ditime:before, .advis-dialog .ditime:after { content: ""; display: inline-block; width: 50px; height: 4px; background: transparent; margin: 0 10px; border-top: 1px solid #e6e4e1; }
.dial-left .dialog { padding: 0 0 0 55px; position: relative; overflow: hidden; }
.dial-left .dihead { width: 40px; height: 40px; position: absolute; left: 0; top: 5px; border-radius: 50%; overflow: hidden; }
.dial-left .dihead img { width: 100%; height: 100%; }
.dial-left .diname { display:block; font-size:12px; color:#909090; width:100%; height:20px;}
.dial-left .dicon { font-size: 13px; background: #fff; border: 1px solid #e1e1e1; padding: 10px; border-radius: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px; color: #333; float: left; word-break: break-all; }
.dial-left .dicon:before { position: absolute; content: ""; top: 30px; left: 50px; width: 10px; height: 10px; border: 1px solid #e1e1e1; border-width: 0 0 1px 1px; background: #fff; -webkit-transform: rotate(45deg); -moz-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg); }


.dial-right .dialog { padding: 0 55px 0 0; position: relative; overflow: hidden; }
.dial-right .dihead { width: 40px; height: 40px; position: absolute; right: 0; top: 5px; }
.dial-right .dihead img { width:100%; height:100%; }
.dial-right .diname { display:block; text-align:right; font-size:12px; color:#909090; width:100%; height:20px;}
.dial-right .dicon { font-size: 13px; background: #bce0ff; border: 1px solid #81bdf7; padding: 10px; border-radius: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px; color: #5b5b5b; float: right; word-break: break-all; }
.dial-right .dicon:before { position: absolute; content: ""; top: 30px; right: 50px; width: 10px; height: 10px; border: 1px solid #81bdf7; border-width: 1px 1px 0 0; background: #bce0ff; -webkit-transform: rotate(45deg); -moz-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg); }
.dicon img{ max-height:120px; max-width:120px;}


.advis-end { background: #e6eef9; line-height: 20px; text-align: center; }
.advis-end i { font-size: 18px; color: #ff8100; vertical-align: middle; margin: 0 5px 0 0; }
.advis-end a { font-size: 14px; color: #157efb; }
.advis-bot { width: 100%; height: 63px; background: #fff; position: fixed; left: 0; bottom: 0; padding: 14px 93px 0 15px; }
.advis-bot a { display: block; position: absolute; right: 15px; top: 14px; color: #333; font-size: 14px; padding: 0 18px; height: 33px; line-height: 33px !important; background: #f5f5f5; border: 1px solid #bebebe; border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; }
.advis-bot .askbtn { width: 100%; height: 35px; line-height: normal; border: 1px solid #bebebe; border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; padding: 5px 10px; appearance: none; -webkit-appearance: none; -moz-appearance: none; background: #fff; }
.chat-form { height: 45px; padding-left: 10px; padding-right: 10px; }
.nopos { position: relative; bottom: auto; left: auto; }
.chat-form .ui-col-0 { width: 44px; text-align: center; }
.chat-form .ui-col-0 a { display: inline-block; height: 30px; width: 30px; line-height: 30px; position: relative; top: 8px; color: #808080; }
.chat-form .ui-col-0 a .iconfont { font-size: 30px; line-height: 30px; }
.chat-input { height: 22px; font-size: 13px; line-height: 22px; border: 0; border-bottom: #4dcd70 1px solid; position: relative; top: 14px; }
.chat-pictures-wrap { height: 100%; z-index: 2323; top: 0; left: 0; display: none; }
.chat-pictures-bg { height: 100%; background-color: rgba(0, 0, 0, 0.7); }
.chat-pictures-btn { bottom: 10px; left: 0 }
.chat-pictures-a { overflow: hidden }
.chat-pictures-a a { height: 45px; line-height: 45px; display: block; font-size: 15px; color: #00a1d8; text-align: center; width: 100%; background-color: #fff; border-bottom: #e1e1e1 1px solid }
.chat-pictures-a a:last-child { border-bottom: 0 }
.chat-pictures-a a em { display: inline-block; border: #00a1d8 1px solid; border-radius: 50%; line-height: 12px; position: relative; top: -2px }
.chat-pictures-a a i.iconfont { font-size: 18px; margin-right: 5px; }
.chat-form .ui-col-0 a.chat-send { display: inline-block; width: 44px; height: 31px; line-height: 31px; background: #4dcd70; text-align: center; font-size: 13px; color: #fff; border: none; border-radius: 3px; float: left; }
.view-more { display: inline-block; width: 100%; text-align: center; color: #5b5b5b; padding: 15px 0 10px 0; }
.c-ser-main.onlytext { background-color: transparent; border: 1px solid transparent; color: #5b5b5b; padding-left: 0; }

.curve-box .swiper-container { width:100% !important;}
.curve-box .swiper-pagination{ clear:both;}
/* 暂无信息 */
.nomess{ text-align:center; line-height:30px; padding:120px 0 60px 0; color:#5b5b5b;}
.nomess i{ display:block; width:90px; height:90px; background-position:-1px -30px; margin:0 auto;}
.icon{ background:url(../images/icon.png) no-repeat; background-size:250px 250px; -webkit-background-size:250px 250px; -moz-background-size:250px 250px; -ms-background-size:250px 250px;}

/*2015.11.24*/
.edit-info.registered>li .n-list-key:first-child{width:5em;}
.fi-btnbox{bottom:0;left:0;width:100%;padding:5px 15px;box-sizing:border-box;background:#e1e1e1;}
.bottom-box.fi-btnbox a.c-btn{padding:12px 16px;}
.pb47{padding-bottom:47px;}

.getmore{ width:100%;}
.getmore a{ display:block; width:100%; line-height:40px; color:#5b5b5b; text-align:center; font-size:14px; background:#f3f3f3;}
/*2015.12.25*/
.sigl-up .n-list-key{width:6.5em !important;}
.sigl-up .n-list-key i.iconfont{color:#4dcd70;}
.c-btn-fff.c-333{color:#333;}


/******2016 5.6*******/
.header-person { background: url("../images/header-person.jpg") no-repeat 0 0; height: 150px; background-size: 100% 100%; color: #fff; text-align: center;}
.header-person .doc-avatar { display: inline-block; margin-top: 20px; width: 68px; height: 68px;}
.header-person .icon-nv { color: #f73a5c;}
.header-person .name { font-size: 15px;}
.box-kv { background: #fff; padding: 12px 10px; border-top: 1px solid #e1e1e1; border-bottom: 1px solid #e1e1e1; font-size: 15px;}
.box-kv .value input { font-size: 12px; text-align: right;}
/*表单模块*/
.mod { background:#fff; font-size: 15px; border-top: 1px solid #e1e1e1; border-bottom: 1px solid #e1e1e1;}
.mod input { border:0; height: 31px; width:100%;}
.mod .hd { border-bottom: 1px solid #e1e1e1; color:#333;}
.mod .hd .right{ color: #ccc; float: right;}
.mod .hd , .mod .bd { padding: 12px 10px; }
.mod textarea { width:100%; border:0; color:#333; resize: none; word-break: break-all; font-size: 12px;}
.mod input::-webkit-input-placeholder,.mod-info .content .list li textarea::-webkit-input-placeholder { color:#bfbfbf;}
.add-img  li { display: inline-block; width: 70px; height: 70px; position: relative; margin-right: 5px;}
.add-img img { width: 100%; height: 100%; vertical-align: inherit;}
.add-img .add-item {  border: 1px dashed #bebebe; box-sizing: border-box;}
.add-img .add-item:before { content:"";position: absolute; width: 28px; height: 2px; top: 50%; left: 50%; margin: -1px 0 0 -14px; background: #b8b8b8;}
.add-img .add-item:after { content:"";position: absolute; width: 2px; height: 28px; top: 50%; left: 50%; margin: -14px 0 0 -1px; background: #b8b8b8;}
.add-img .del-item .icon-laji { position: absolute; top: 0; right: 2px; color: #fff; font-size: 14px;}
.add-img .del-item:before { content: ""; background: rgba(0,0,0,.5); width: 25px; height: 25px; display: block; top: 0; right: 0; position: absolute; border-bottom-left-radius: 100%;}
.readed-explain { font-size: 13px; color: #777; text-align: center;}
.readed-explain a { color: #0574dd;}
.ins-img-btn { position: fixed; width: 100%; bottom: 0; left: 0; z-index: 3100; }
.ins-img-btn .c-btn { border-radius: 4px; border: none; color: #157efb; font-size: 20px; }
.ins-img-btn .c-btn:first-child { border-radius: 4px 4px 0 0; }
.ins-img-btn .c-btn:nth-child(2) { border-top: 1px solid #e1e1e1; border-radius: 0 0 4px 4px; }
.over-lay, .over-lay[id] { position: fixed; top: 0; left: 0; z-index: 3000; width: 100%; height: 100%; background: rgba(0,0,0,.7); }
/*2016.5.4录音*/
.mod-record .broadcast { height: 35px; border-top: 1px solid #e1e1e1; text-align: center; position: relative;}
.mod-record .broadcast-icon { width: 40px; height: 40px; border-radius: 50%; display: inline-block; background: #37a6ed; text-align: center; margin-top: 7px; position: relative; bottom: -13px; z-index: 10;}
.mod-record .broadcast-icon .iconfont { color: #fff; font-size: 26px;}
.mod-record .bg { width: 56px; height: 56px; border-radius: 50%; display: inline-block; position: absolute; top: 50%; left: 50%; border: 1px solid #e1e1e1; background: #fff; margin: -7px 0 0 -29px; clip: rect(36px,58px,60px,0px);}
.win-broadcast { position:fixed;outline: 0px;top:50%;left:50%;margin:-113px 0 0 -135px;width:269px;height:226px;border-radius: 5px;z-index:100;}
.win-broadcast .bg { background-color: #fff;width:269px;height:226px;border-radius: 5px;display:block;}
.win-broadcast .broadcast { background:url(../images/broadcast.png) no-repeat 0 -2px;width:85px;height:85px;display:block;background-size: 100%; position:absolute;top:67px;left:34%;border-radius: 50%;z-index:99;}
.win-broadcast .word { position: absolute;bottom: 0;border-radius: 5px;border-top: 1px solid #e1e1e1;border-top-right-radius: 0;border-top-left-radius: 0;color: #666;background-color: #fff;height: 35px;width: 100%;line-height: 35px;}
.win-broadcast .word.title { top:0;border-top-left-radius:5px;border-top-right-radius:5px;}
.delete {display: block;position: absolute;height: 12px;width: 12px;border-radius: 50%;background-color: #fff;right: 6px;top: 6px;z-index: 10;text-align: center;line-height: 9px;color: #919191;font-size: 12px;}
.broadcast-shadow-panel {width:100%;position:fixed;overflow:hidden;z-index:10;top:0;background-color: rgba(0,0,0,.35);top:0;bottom:0;left:0;right:0}
/*动画*/
.win-broadcast .broadcast
{
    animation: broadcast 2s infinite;
    -webkit-animation: broadcast 2s infinite;  /* Safari 和 Chrome */
}
@-webkit-keyframes broadcast
{
    0%   { background-color:#ccf5ff;box-shadow: 0 0 0 0px #ccf5ff,0 0 0 0 #c3e9f2, 0 0 0  0px #e9fffe,0 0 0 0 #ddf5f4;}
    25%  { background-color:#ccf5ff;box-shadow: 0 0 0 5px #ccf5ff,0 0 0 1px #c3e9f2, 0 0 0 20px #e9fffe,0 0 0 1px #ddf5f4;}
    50%  { background-color:#ccf5ff;box-shadow: 0 0 0 10px #ccf5ff,0 0 0 1px #c3e9f2, 0 0 0 25px #e9fffe,0 0 0 1px #ddf5f4;}
    100% { background-color:#ccf5ff;box-shadow: 0 0 0 15px #ccf5ff,0 0 0 1px #c3e9f2, 0 0 0 30px #e9fffe,0 0 0 1px #ddf5f4;}
}


/* css search
-----------------------------------------------------------------------------*/
.c-ser-hold { width: 100%; height: 43px; background-color: #e8e8e8; padding: 6px 10px 0 10px; }
.c-ser-into { background: #fff; height: 28px; line-height: 28px; border: 1px solid #e1e1e1; border-radius: 5px; color: #8e8e93; padding: 0 8px; }
.c-serdet { display: -webkit-box; display: box; padding: 7px 10px 0 10px; }
.ser-icon { position: relative; display: inline-block; width: 13px; height: 13px; font-size: 1px; background: none; top: 1px; }
.ser-icon:before, .ser-icon:after { content: ""; position: absolute; left: 0; background: transparent; font-size: 1px; }
.ser-icon-search:before { left: 1px; top: 1px; width: 9px; height: 9px; border: 1px solid #8e8e93; border-radius: 50%; -webkit-border-radius: 50%; -moz-border-radius: 50%; -o-border-radius: 50%; }
.ser-icon-search:after { left: 9px; top: 11px; width: 5px; height: 1px; background: #8e8e93; transform: rotate(45deg); -webkit-transform: rotate(45deg); -moz-transform: rotate(45deg); -o-transform: rotate(45deg); -ms-transform: rotate(45deg); }
.c-ser-back { width: 20px; -webkit-box-flex: 0; box-flex: 0; overflow: hidden; }
.c-ser-back .si-right { display: block; width: 12px; height: 12px; border: solid #a3a3a7; border-width: 0 0 2px 2px; -webkit-transform: rotate(45deg); -moz-transform: rotate(45deg); -ms-transform: rotate(45deg); -o-transform: rotate(45deg); transform: rotate(45deg); margin: 7px 0 0 2px; float: left; }
.c-ser-main { -webkit-box-flex: 1; box-flex: 1; background: #fff; height: 28px; line-height: 28px; border: 1px solid #e1e1e1; border-radius: 5px; font-size: 15px; color: #8e8e93; position: relative; padding-left: 25px; overflow: hidden; }
.c-ser-main i { position: absolute; left: 7px; top: 7px; }
.c-ser-input { width: 100%; background: #fff; height: 22px; line-height: 22px; border: none; color: #8e8e93; border-radius: 5px; padding: 3px 0; }
.c-ser-btn { margin-left: 10px; -webkit-box-flex: 0; box-flex: 0; }
.c-ser-btn a { display: block; height: 30px; line-height: 30px; padding: 0 10px; background: #3aa7ed; color: #fff; font-size: 14px; border-radius: 4px; }
.c-ser-canc { margin-left: 10px; -webkit-box-flex: 0; box-flex: 0; }
.c-ser-canc a { display: block; height: 30px; line-height: 30px; padding: 0 5px; }
.c-ser-main .input-clear { position: absolute; right: 6px; top: 6px; background: #7e7e7e; border-radius: 50%; width: 16px; height: 16px; text-align: center; }
.c-ser-main .input-clear .close { position: relative; display: inline-block; width: 10px; height: 10px; overflow: hidden; top: -7px; }
.c-ser-main .input-clear .close::before, .c-ser-main .input-clear .close::after { content: ''; position: absolute; height: 2px; width: 100%; top: 50%; left: 0px; margin-top: -1px; background: #fff; border-radius: 6px; }
.c-ser-main .input-clear .close::before { -webkit-transform: rotate(45deg); -moz-transform: rotate(45deg); -ms-transform: rotate(45deg); -o-transform: rotate(45deg); transform: rotate(45deg); }
.c-ser-main .input-clear .close::after { -webkit-transform: rotate(-45deg); -moz-transform: rotate(-45deg); -ms-transform: rotate(-45deg); -o-transform: rotate(-45deg); transform: rotate(-45deg); }
/**/
.c-b3b3b3 { color: #b3b3b3; }
.c-25aadf { color: #25aadf; }
.tinmper .c-btn-tiny { padding: 6px 8px; }
.tinmper .n-list-info.last { width: 65px; -webkit-box-flex: 0; box-flex: 0; }
.timpers-banner img { width: 100%; }
.timpers-sec-box .c-blocks-2 div, .timpers-sec-box .c-blocks-4 div { float: none; }
.timpers-sec-box .c-blocks-2 li { box-sizing: border-box; display: -webkit-box; display: box; height: 100px; padding: 0 10px; }
.timpers-sec-box .c-blocks-2 li .tim-pic, .timpers-sec-box .c-blocks-2 li .tim-word { display: box; display: -webkit-box; -webkit-box-orient: vertical; -webkit-box-pack: center; }
.timpers-sec-box .c-blocks-2 li .tim-pic { text-align: center; -webkit-box-flex: 1; box-flex: 1; }
.timpers-sec-box .c-blocks-2 li .tim-word { -webkit-box-flex: 4; box-flex: 4; }
.timpers-sec-box .c-blocks-2 li .tim-pic img { width: 55px; }
.timpers-sec-box .c-blocks-4 li { box-sizing: border-box; height: 100px; padding-top: 18px; }
.timpers-sec-box .c-blocks-4 li .tim-pic-min { width: 40px; margin: 0 auto; }
.timpers-sec-box .c-blocks-4 li .tim-pic-min img { width: 100%; }
.timper-cell .tit { margin: 0 0 0 10px; padding: 10px 0; color: #25aadf; }
.timper-inline-hd { height: 170px; }
.timper-inline-hd li.first { box-sizing: border-box; display: -webkit-box; display: box; -webkit-box-orient: vertical; -webkit-box-pack: center; text-align: center; height: 170px; }
.timper-inline-hd li.sec { box-sizing: border-box; display: -webkit-box; display: box; -webkit-box-orient: vertical; -webkit-box-pack: center; text-align: center; height: 85px; float: left; }
.timper-inline-hd li.sec .pic-01 { width: 40px; height: 32.5px; margin: 0 auto; }
.timper-inline-hd li.sec .pic-02 { width: 40px; height: 35px; margin: 0 auto; }
.timper-inline-hd li.sec .pic-01 img, .timper-inline-hd li.sec .pic-02 img { width: 100%; }
.timper-inline-hd li.first .pic { width: 60px; height: 78px; margin: 0 auto; }
.timper-inline-hd li.first .pic img { width: 100%; }
.timper-inline-hd .c-blocks-2 div { float: none; }
.timper-inline-hd li .sim { box-sizing: border-box; display: -webkit-box; display: box; height: 85px; width: 100%; padding: 0 10px; }
.timper-inline-hd li .sim .pic, .timper-inline-hd li .sim .words { display: box; display: -webkit-box; -webkit-box-orient: vertical; -webkit-box-pack: center; }
.timper-inline-hd li .sim .words { -webkit-box-flex: 1; box-flex: 1; }
.timper-inline-hd li .sim .pic { -webkit-box-flex: 0; box-flex: 0; width: 45px; padding-right: 10px; }
.timper-inline-hd li .sim .pic img { width: 45px; height: 50px; }
.timper-search .c-ser-hold { background: #fff; }
.timper-search .c-ser-main, .timper-search .c-ser-input { background: #f2f2f2; border: none; }
.banner img { height: 67px; width: 100%; }
.swiper-pagination-bullet-active { opacity: 1; background: #4dcd70 !important; }
.tabs.timper .hd ul { width: 60%; }
.tabs.timper .hd ul li { width: 50%; float: left; text-align: center; padding: 5px; color: #333; font-size: 14px; box-sizing: border-box; }
.pt-tab-list.hit { display: block; }
.pt-tab-list { display: none; }
.tabs.timper .hd ul li.hit { display: block; color: #4dcd70; border-bottom: 2px solid #4dcd70; }
.da-doclist .c-blocks-4 div { float: none; }
.da-doclist li { text-align: center; padding: 12px 0 0; }
.da-doclist li .pic { width: 40px; height: 40px; border-radius: 50%; margin: 0 auto; }
.da-doclist li .pic img { width: 100%; }
.pt6 { padding-top: 6px; }
.c-4dcd70 { color: #4dcd70; }
/*底部导航*/
#navFooter .iconfont { font-size: 20px; line-height: 1em; }
nav { display: -webkit-box; position: fixed; bottom: 0; background: #fefefe; border-top: 1px solid #cbcbcb; font-size: 12px; width: 100%; text-align: center; color: #3d3d3d; height: 50px; z-index: 999; }
nav a { color: #3d3d3d; color: inherit; }
nav > div { -webkit-box-flex: 1; width: 0; padding-top: 8px; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; position: relative; background: #fefefe; z-index: 1000; }
nav div.curr { color: #17b3ec; }
nav > div:first-child { border-left: none; }
nav .haslist { position: absolute; display: block; font-size: 0; line-height: 0; width: 0; height: 0; border-color: transparent; border-style: dashed; border-width: 6px; border-left-color: #dddddd; border-left-style: solid; right: -2px; bottom: -5px; -webkit-transform: rotate(45deg); -moz-transform: rotate(45deg); -ms-transform: rotate(45deg); -o-transform: rotate(45deg); transform: rotate(45deg); z-index: 1000; }
nav .nav-list { width: 106%; position: absolute; left: -3%; bottom: 52px; box-shadow: 0 0 10px rgba(0,0,0,.2); display: none; }
nav .nav-list a { display: block; width: 100%; height: 45px; line-height: 45px; border-top: 1px solid #e1e1e1; background: #fff; color: #3d3d3d; font-size: 15px; }
nav .nav-list a:first-child { border-top: none; }
nav div .icon-tag { width: 38px; margin: 0 auto; }
nav div .icon-num { position: absolute; top: -2px; right: 0; width: 17px; height: 17px; border-radius: 50%; font-size: 12px; color: #fff; }
nav .icon-num-red { background-color: #ff3824; }
nav .curr .icon-tongjibaobiao:before { content: "\e605"; }
nav .curr .icon-kehuguanli:before { content: "\e606"; }
nav .curr .icon-xingdongrizhi:before { content: "\e607"; }
nav .curr .icon-wo:before { content: "\e602"; }
.nav-mb { width: 100%; height: 100%; background: rgba(0,0,0,0); position: fixed; left: 0; bottom: 0px; z-index: 998; display: none; }
/*续方*/
.c-999999 { color: #999; }
.ax-popup.pror .ui-dialog-content { width: 100%; }
.c-lab-mor li.hit { border-bottom: 3px solid #4dcd70; }
.c-lab-mor li.hit a { color: #4dcd70; }
.rp-list li { padding: 5px 10px; border-bottom: 1px solid #dcdcdc; line-height: 20px; }
.rp-list li:last-child { border-bottom: 0 none; }
.c-808080 { color: #808080; }

.fox-timper.c-list .c-list-label{border-top:1px solid #e1e1e1 !important;}
.fox-timper .c-list-label div{display: box;display: -webkit-box;-webkit-box-orient: vertical;-webkit-box-pack: center;-webkit-box-flex: 1;box-flex: 1;}

.c-btn-DDF5F4{background-color:#DDF5F4;}
.c-4dcd70{color:#4dcd70;}
.c-btn-aee9ff{background-color:#aee9ff;}
.c-17b3ec{color:#17b3ec;}
.zx-timper.c-list .c-avatar-m{margin:5px 15px 5px 0;border-radius:50% !important;}
.zx-timper .c-list-label{display:block;border-top: 1px solid #e1e1e1 !important;}
.zx-timper .c-list-label p{line-height:1.5em;}
.c-ser-hold{background-color: #f8f8f8;}
.timper-addfix{position:fixed;right: 30px;bottom: 30px;background:#4dcd70;width:48px;height:48px;border-radius:50%;text-align:center;line-height:48px;}
.timper-addfix i.icon-jia{color:#fff;font-size:20px;}
.bor-topnone{border-top:none !important;}
.zx-timper .c-btn-tiny{padding: 6px 15px;}
.c-list-label.c-333{color:#333 !important;}
.discus.c-list > li.c-list-label{margin-left:70px;border-top:none !important;padding: 0 15px 10px 0!important;border-bottom: 1px solid #e1e1e1 !important;}
.discus .c-avatar-m{border-radius:50% !important;}
.zx-timper .c-list-label img{width:60px;height:60px;margin:0 5px;}
.advis-dialog .dial-right .icon-yuyinku{color:#fff;font-size:18px;}
.advis-dialog .dial-left .icon-yuyinku{color:#17b3ec;font-size:18px;}
.c-list-label .timper-picer{display:inline-block;}
.c-list-label i.iconfont{color:#9f9fa4;}
/*图片缩放弹框样式*/
.imgzoom-pack { width: 100%; height: 100%; position: fixed; left: 0; top: 0; background: rgba(0, 0, 0, .7); display: none; z-index: 3000; }
.imgzoom-pack:after { content: ""; position: absolute; height: 50px; line-height: 50px; width: 100%; bottom: 0; left: 0; background: rgba(0, 0, 0, .5); z-index: 5; }
.imgzoom-pack .imgzoom-x { color: #fff; height: 50px; width: 60px; line-height: 50px; text-align: center; font-size: 17px; position: absolute; right: 0; bottom: 0; z-index: 10; cursor: pointer; }
.imgzoom-del { color: #fff; height: 50px; width: 60px; line-height: 50px; vertical-align: middle; text-align: center; position: absolute; right: 0; bottom: 0; z-index: 10; cursor: pointer; }
.imgzoom-del .iconfont { font-size: 24px; color: #fff; }
.imgzoom-pack .imgzoom-img { width: 100%; height: 100%; position: absolute; left: 0; top: 0; overflow: hidden; }
.imgzoom-pack .imgzoom-img img { width: 100%; position: absolute; top: 50%; }
/*头部*/
.h45{ height:45px;}
.header-comtop{ width:100%; height:45px; line-height:44px; background:#fff; color:#333; text-align:center; position:fixed; z-index:9999; box-sizing:border-box;  border-bottom:1px solid #e1e1e1;}
.header-comtop .mui-action-back{ display: block; width:45px; height:45px; position:absolute; left:0; top:0;}
.header-comtop .mui-action-back:before{ content:''; display: block; width: 12px; height: 12px; border: solid #17b3ec; border-width: 1px 1px 0 0; transform: rotate(-135deg); -webkit-transform: rotate(-135deg);position:absolute; left:18px; top:16px;}
.header-comtop h1{ max-width:100%; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; display: inline-block; font-size: 16px;}
.header-comtop .operate { color: #058ae8; position: absolute; right: 10px;}
/*我的设备*/
.mr80 { margin-right: 80px;}
.btn-green-l { height: 45px; line-height: 45px; text-align: center; font-size: 16px; background: #4dcd70; border-radius: 6px; color: #fff; display: inline-block; width: 100%;}
.icon-del { background:#e83434; width: 18px; height: 18px; border-radius: 50%; position: relative; display: inline-block; vertical-align: middle;}
.icon-del:before { content:""; background: #fff; position: absolute; width: 10px; height: 2px; left: 50%; top: 50%; margin: -1px 0 0 -5px;}
/*注册*/
.m15 { margin: 15px;}
.c-999 { color: #999;}
.form-register.edit-info.registered > li { height: 45px; line-height: 45px;}
.form-register .iconfont { font-size: 26px; color: #727272; vertical-align: middle;}
/*提示*/
.mod-warn { height: 150px; background: #fff; border-top: 1px solid #e1e1e1; border-bottom: 1px solid #e1e1e1; padding: 0 15px; box-sizing: border-box; color: #666;}
.mod-warn .iconfont { font-size: 62px; display: block; text-align: center;}
/*用户协议*/
.user-pact { font-size: 15px; margin: 20px 15px 0;}
.user-pact h1 {font-size: 20px; font-weight: bold; text-align: center;}
.user-pact .second-title { font-weight: bold;}
