<!doctype html>
<html>

	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
		<meta charset="utf-8">
		<title>已签约</title>
		<link rel="stylesheet" type="text/css" href="../../../common/iconfont/iconfont.css">
		<link rel="stylesheet" href="../../../common/cross/css/cross.css" type="text/css" />
		<link rel="stylesheet" href="../../../common/cross/css/cross.ui.css" type="text/css" />
		<link rel="stylesheet" type="text/css" href="../../../common/css/jy-style.css">
		<link rel="stylesheet" type="text/css" href="../css/qianyue.css">
		
	</head>

	<body>
		<div class="c-main pb60">
			<div class="c-failstate c-t-center c-hide" id="wushuju">
				<i class="icon-noset"></i>
				<p class="c-5b5b5b">暂无相关消息</p>
				<!--<a class="c-btn c-btn-full c-btn-37a6ec c-boxs border-radius-rounded mt15" onclick="mui.back()">返回</a>-->
			</div>

			<div class="c-ser-hold my-work c-boxs c-serdet">
				<div class="c-ser-main">
					<i class="iconfont icon-sousuo"></i>
					<input type="text" class="c-ser-input c-boxs c-f14" placeholder="请输入居民姓名" data-form="clear">
				</div>
				<div class="c-ser-btn" id="search_name">
					<a href="javascript:;">搜索</a>
				</div>
			</div>
			

			<div class="patient c-border-t">
				<div class="patient-list">
					<div class="my-work-secflo" id="pati_list">

					</div>
					<div class="my-work-secflo" id="search_pati_list" style="display: none;">
						
					</div>
				</div>
			</div>
		</div>
		
		<!--
        	作者：lcl0338@126.com
        	时间：2016-08-31
        	描述：列表模版
        -->
		<script type="text/html" id="pati_list_tmpl">
			{{each data as val i}}
			<div class="patient-list {{if isOpen(val.code, nameSearch, val.patients)}}current{{/if}}">
				<div class="patient-type" data-group="{{val.code}}">
					<div class="arrow {{if isOpen(val.code, nameSearch, val.patients)}}open{{/if}}"> <i class="ui-arrow ui-arrow-b"></i></div>
					<h3 class="t c-f16">{{val.name}}<em class="c-ccc ml10 c-f10">({{val.total}}人)</em></h3>
				</div>
				<ul class="n-list" style="{{if !(isOpen(val.code, nameSearch, val.patients))}}display: none;{{/if}} ">
					{{each val.patients as value j}}
					<li class="n-list-link list-arrow-r n-list-cover" data-id="{{value.chId}}" data-name="{{value.name}}" data-ground="{{val.code}}" data-info="{{value | setJson}}">
						<div class="patient-face patient-face-new">
                            <img src="{{setPhoto}}">
							<!--{{if value.photo}}-->
							<!--<img src="{{value.photo}}"> {{else}}-->
							<!--<img src="{{value.sex | setPhoto}}"> {{/if}}-->
						</div>

						<div class="n-list-info">
							<h4 class="c-nowrap c-f16">{{value.name}}<em class="ml5 c-f15 c-909090"> ( {{value.sex}}  {{value.age}}岁 )</em></h4>
							<p class="c-f15 c-909090 pt5">{{value.sortType}}</p>
							<em class="red-point"></em> </div>
					</li>
					{{/each}}
				</ul>
			</div>
			{{/each}}
		</script>
		
		
		<script type="text/javascript" src="../../../js/jquery/2.1.3/jquery.js"></script>
		<link rel="stylesheet" type="text/css" href="../../../widget/artDialog/6.0.5/css/ui-dialog.min.css" />
		<script src="../../../widget/artDialog/6.0.5/js/dialog-plus.min.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript" src="../../../js/mui.min.js"></script>
		<script src="../../../js/common_http.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../../js/template.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/common.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/yiqianyue.js" type="text/javascript" charset="utf-8"></script>
	</body>

</html>