.c-333 { color: #333; }
.c-ti2 { text-indent:2em; }
.c-fwb { font-weight: bold; }
.c-bb1 { border-bottom: 1px solid #DCDCDC; }
.height-38 { height: 38px; }
.lheight-38 { line-height: 38px; }
.lhp150 { line-height: 150%; }
#agree_btn { height: 40px; line-height: 40px; margin: 10px auto; background-color: #74BF00; color: #FFF; border-radius: 5px; text-align: center; }
