#member_view { margin-bottom: 80px; }
#member_list li { position: relative; }
#member_list .fa-angle-right { position: absolute; top: 50%; right: 10px; margin-top: -10px; font-size: 20px;}
#footer { position: fixed;bottom: 0; width: 100%; }