html,body{height: 100%;}

.c-main { overflow: auto; }
.bc-fff { background-color: #FFF;}
.bc-ff9526 { background-color: #FF9526; }
.bc-75bf00 { background-color: #75BF00; }

.btn-main{display: none;}
#btnMenu{ display: none; z-index: 201; }
#introduce_guide { display: none; position: absolute; top: 0; right: 0; width: 80px; height: 84px; z-index: 200;}
#introduce_text { display: none; position: absolute; top: 60px; right: 0px; width: 150px; color: #fff; z-index: 200;}
#overlay_pop { display: none; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0,0,0,0.6); z-index: 100; }
#doctor_qrcode { display: none; }
#doctor_qrcode>img { display: block; margin: 0 auto; }
#sign_invitation .c-50 { width: 50%; margin-left: 0; }
#btnSign { display: none; }
#sign_invitation { position: fixed; bottom: 0; width: 100%; }
#sign_invitation a { display: block; }
#textReason { width: 100%; font-size: 16px; }
.reqest-unsign-pop .ui-dialog-content { display: block;}

#divAgree .c-list > .c-list-text { padding-top: 0; padding-bottom: 0; }
.div-dialog-content{width: 250px;height: 250px;background: url(../images/tuoyuan.png) no-repeat center top;background-size: 250px;position: fixed;z-index: 201;left: 50%;top: 50%;margin-left: -125px;margin-top: -125px;}  
.zixun{width: 55px; height: 55px;background: url(../images/zixun01_btn.png) no-repeat center top; background-size: 55px;position: absolute;      z-index: 201;top: 50%;margin-top: -27px;left: 10px;}
.tuijian{width: 55px; height: 55px;background: url(../images/tuijian_btn.png) no-repeat center top; background-size: 55px;position: absolute;z-index: 201;      bottom: 104px;left: 50%;top: 50%;margin-left: -27px;margin-top: -118px;}
.jieyue{width: 55px; height: 55px;background: url(../images/jieyue_btn.png) no-repeat center top; background-size: 55px;position: absolute;      z-index: 201;top: 50%;      margin-top: -27px;right: 10px;}
.zixun.active{width: 55px; height: 55px;background: url(../images/yundong_xuanzhong_icon.png) no-repeat center top; background-size: 55px;position: absolute;      z-index: 201;top: 50%;margin-top: -27px;left: 10px;}
.tuijian.active{width: 55px; height: 55px;background: url(../images/yongyaoi_xuanzhong_icon.png) no-repeat center top; background-size: 55px;position: absolute;z-index: 201;   bottom: 104px;left: 50%;top: 50%;margin-left: -27px;margin-top: -118px;}
.jieyue.active{width: 55px; height: 55px;background: url(../images/yinshi_xuanzhong_icon.png) no-repeat center top; background-size: 55px;position: absolute;      z-index: 201;top: 50%;      margin-top: -27px;right: 10px;}
.quxiao{width: 55px;height: 55px;background: url(../images/quxiao_btn.png) no-repeat center top;background-size: 55px;position: absolute;      z-index: 201;left: 50%;      top: 50%;      margin-left: -27px;      margin-top: 60px;}
.quxiao.active{width: 55px;height: 55px;background: url(../images/quxiao_pre.png) no-repeat center top;background-size: 55px;position: absolute;      z-index: 201;left: 50%;      top: 50%;      margin-left: -27px;      margin-top: 60px;}
#footer {position: fixed;z-index: 3; bottom: 30px;width: 50px;height: 48px;padding: 0;right: 30px;display: block;}
.add-icon{ width: 50px; height: 50px;background: url(../images/gengduo_btn.png) no-repeat center top; background-size: 50px;}