body, html{margin: 0;padding: 0;}
.l-arrow-right {display:block;width:14px;height:14px;border:solid #cdcdcd;border-width:3px 3px 0 0;-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-ms-transform:rotate(45deg);-o-transform:rotate(45deg);transform:rotate(45deg);margin-top:2px;}
.fl {float: left;}
.m10{margin:10px;}
.c-list{margin: 0;padding: 0;margin-top: 10px;overflow: hidden;}
.c-list li{height: 60px;margin: 0;padding: 0;}
.c-list img{width: 40px;height: 40px;background-size: 40px;}
.c-list .div-content{ color: #323232;font-size: 16px;font-weight: bold;margin-top: 7px;height: 20px;}
.c-arrow-r{position:absolute;top:50%;right:10px;margin-top:-5px;content:"";display:block;width:8px;height:8px;border:solid #cdcdcd;border-width:2px 2px 0 0;-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-ms-transform:rotate(45deg);transform:rotate(45deg);}
#device_list> li >a.edit{ display: block; position:absolute;height:60px;font-size:15px;background:#FF9526;right:-150px;width:75px;line-height:60px;color:#fff;text-align:center;top:0;}
#device_list> li >a.del{ display: block; position:absolute;height:60px;font-size:15px;background:#FF6A56;right:-75px;width:75px;line-height:60px;color:#fff;text-align:center;top:0;}
#footer { position: absolute; z-index: 4; bottom: 30px;right: 30px;width: 50px;height: 48px;padding: 0;}
.add-icon{ width: 50px; height: 50px;background: url(../images/xuanfu_btn.png) no-repeat center top; background-size: 50px;}
.f-mr10 {margin-right: 10px;}
.f-ib { display: inline-block;}
.f-vam, .f-vama * {vertical-align: middle;}
.modal-overlay{position: absolute;left: 0;top: 0;width: 100%;height: 100%;background: transparent;z-index: 3; visibility: hidden;opacity: 0;-webkit-transition-duration: 400ms;transition-duration: 400ms;}
.modal-overlay.modal-overlay-visible{ visibility: visible;opacity: 1;}

.div-dialog-content{width: 250px;height: 250px;background: url(../images/tuoyuan.png) no-repeat center top;background-size: 250px;position: absolute;z-index: 4;left: 50%;top: 50%;margin-left: -125px;margin-top: -125px;}  
.xueyaji-icon{width: 55px; height: 55px;background: url(../images/xueyaji_btn.png) no-repeat center top; background-size: 55px;position: absolute;      z-index: 4;top: 50%;margin-top: -77px;left: 20px;}
.xuetangyi-icon{width: 55px; height: 55px;background: url(../images/xuetangyi_bth.png) no-repeat center top; background-size: 55px;position: absolute;      z-index: 4;top: 50%;margin-top: -77px;right: 10px;}
.xueyaji-icon.active{width: 55px; height: 55px;background: url(../images/xueyaji_pre.png) no-repeat center top; background-size: 55px;position: absolute;      z-index: 4;top: 50%;margin-top: -77px;left: 20px;}
.xuetangyi-icon.active{width: 55px; height: 55px;background: url(../images/xuetangyi_pre.png) no-repeat center top; background-size: 55px;position: absolute;      z-index: 4;top: 50%;margin-top: -77px;right: 10px;}
.quxiao{width: 55px;height: 55px;background: url(../images/quxiao_btn.png) no-repeat center top;background-size: 55px;position: absolute;      z-index: 4;left: 50%;      top: 50%;      margin-left: -27px;      margin-top: 60px;}
.quxiao.active{width: 55px;height: 55px;background: url(../images/quxiao_pre.png) no-repeat center top;background-size: 55px;position: absolute;      z-index: 4;left: 50%;      top: 50%;      margin-left: -27px;      margin-top: 60px;}
.f-dn{display: none;}


.div-img{width: 320px; height: 184px;background: url(../../../images/shujuweikong_img.png) no-repeat center top; background-size: 320px 184px;margin: 60px auto 0px;}
.div-tishi-info{vertical-align: middle; margin: 15px auto 30px;text-align: center;font-size: 15px;}
.s-bc-75BF00 { background-color: #75BF00; }
.bottom-box{width:160px;height:16px;background:url(../images/bangding_img.png) no-repeat center top;background-size:160px 16px;position:absolute;z-index:3;bottom:105px;vertical-align:middle;left:50%;margin:0 0 0 -80px;}
.div-sn{color:#A8A8A8;font-size:14px;position:absolute;top:32px;left:60px;}

#device_list .c-list-info > h4 { font-size: 15px; line-height: 20px }
#device_list .c-list-info > p { font-size: 13px; line-height: 20px; color: #909090; }
