.list-doctor li .avatar img.default{width: 50%; height: 50%; margin-top: 25%; margin-left: 25%;}
.view-more {display: inline-block;width: 100%;text-align: center;padding: 15px 0 10px 0;}
.view-more a {color: #17b3ec;font-size: 15px;}