@charset "utf-8";
body {
	background-color: #f2f4f6;
	font-size: .65rem;
}

.c-f35439 {
	color: #f35439;
}

.bgc-4bb7be {
	background-color: #4bb7be;
}

.bgc-f79a3f {
	background-color: #f79a3f;
}

.bgc-4fcd6f {
	background-color: #4fcd6f;
}

.bgc-41d7b1 {
	background-color: #41d7b1;
}
.bgc-44d7b1{
	background-color: #44d7b1;
}

.bgc-62d0f3 {
	background-color: #62d0f3;
}
.bgc-e0e0e0 {
	background-color: #e0e0e0;
}

.bgc-51cd6f{
	background-color:#51cd6f ;
}
.bgc-eca438{
	background-color:#eca438 ;
}
.bgc-19d5c5{
	background-color:#19d5c5 ;
}
.bgc-fc5f56{
	background-color:#fc5f56;
}
.bgc-35b8e3{
	background-color:#35b8e3;
}
.bgc-fc6a26{
	background-color:#fc6a26;
}
.bgc-fc5f57{
	background-color:#fc5f57;
}
.bgc-eca43b{
	background-color:#eca43b;
}
.bgc-219ef0{
	background-color:#219ef0;
}





.circle-blue-50 {
	width: 2.5rem;
	height: 2.5rem;
	border: .1rem solid #21b4d6;
	border-radius: 50%;
	text-align: center;
}

.circle-blue-50 p:first-child {
	margin-top: .4rem;
	font-size: .5rem;
}

.header-doctor {
	height: 4.75rem;
	background: -webkit-linear-gradient(#26a5ea, #21b4d5);
	background: linear-gradient(#26a5ea, #21b4d5);
	display: -webkit-box;
	display: box;
	color: #fff;
	padding: 0 .5rem;
	box-sizing: border-box;
	-webkit-box-align: center;
	box-align: center;
	font-size: .65rem;
}

.header-doctor .doc-avatar {
	-webkit-box-flex: 0;
	box-flex: 0;
	margin-right: .5rem;
	width: 3.375rem;
	height: 3.375rem;
	border: .1rem solid #86d3eb;
	border-radius: 50%;
}

.header-doctor .doc-avatar img {
	border-radius: 50%;
	width: 100%;
	height: 100%;
}

.header-doctor .doc-info {
	-webkit-box-flex: 1;
	box-flex: 1;
}

.header-doctor .doc-info .name {
	font-size: .85rem;
}

.list-doctor {
	border-top: .05rem solid #e1e1e1;
	border-bottom: .05rem solid #e1e1e1;
}

.list-doctor li {
	display: -webkit-box;
	display: box;
	-webkit-box-align: center;
	box-align: center;
	background-color: #fff;
	margin-left: 0;
	padding: .5rem;
	font-size: .65rem;
}

.list-doctor li .info {
	-webkit-box-flex: 1;
	box-flex: 1;
}

.list-doctor li .info .name {
	font-size: .75rem;
}

.list-doctor li .avatar {
	width: 2rem;
	height: 2rem;
	margin-right: .5rem;
}

.list-doctor li .avatar img {
	width: 100%;
	height: 100%;
	border-radius: 50%;
}


/*咨询医生*/

.advis-dialog {
	box-sizing: border-box;
}

.advis-dialog .person-card-hd {
	border-bottom: .05rem solid #e1e1e1;
	padding-bottom: .25rem;
}

.advis-dialog .person-card-bd {
	display: -webkit-box;
	display: box;
	-webkit-box-align: center;
	box-align: center;
	padding-top: .25rem;
}

.advis-dialog .person-card-bd .avatar {
	-webkit-box-flex: 0;
	box-flex: 0;
	margin-right: .5rem;
	width: 1.5rem;
	height: 1.5rem;
}

.advis-dialog .person-card-bd .avatar img {
	width: 100%;
	height: 100%;
	border-radius: 50%;
}

.advis-dialog .ditime {
	text-align: center;
	font-size: .6rem;
	color: #aeaeae;
	line-height: .9rem;
	padding-bottom: .4rem;
}

.advis-dialog .ditime:before,
.advis-dialog .ditime:after {
	content: "";
	display: inline-block;
	width: 2.5rem;
	height: .2rem;
	background: transparent;
	margin: 0 .5rem;
	border-top: .05rem solid #e6e4e1;
}

.dial-left .dialog {
	padding: 0 0 0 2.75rem;
	position: relative;
	overflow: hidden;
}

.dial-left .dihead {
	width: 2rem;
	height: 2rem;
	position: absolute;
	left: 0;
	border-radius: 50%;
	overflow: hidden;
}

.dial-left .dihead img {
	width: 100%;
	height: 100%;
}

.dial-left .diname {
	display: block;
	font-size: 12px;
	color: #909090;
	width: 100%;
	height: 1rem;
}

.dial-left .dicon {
	font-size: .65rem;
	padding: .5rem;
	border-radius: .2rem;
	color: #333;
	float: left;
	word-break: break-all;
	background: #bce0ff;
	border: .05rem solid #81bdf7;
	margin-right: 2.25rem;
}

.dial-left .dicon:before {
	position: absolute;
	content: "";
	top: .7rem;
	left: 2.5rem;
	width: .5rem;
	height: .5rem;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	border: .05rem solid #81bdf7;
	background: #bce0ff;
	border-width: 0 0 .05rem .05rem;
}

.dial-left .dicon.person-card {
	background-color: #fff;
	border-color: #e1e1e1;
	border-width: 0 0 .05rem .05rem #e1e1e1;
	width: 10rem;
	box-sizing: border-box;
	position: relative;
}

.dial-left .dicon.person-card:before {
	content: "";
	border: .05rem solid #e1e1e1;
	background: #fff;
	border-width: 0 0 .05rem .05rem;
	left: -.3rem;
}

.dial-left .dicon.person-card:after {
	content: " ";
	width: 100%;
	height: .15rem;
	background-color: #17b3ec;
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
}

.dial-right .dialog {
	padding: 0 2.75rem 0 0;
	position: relative;
	overflow: hidden;
}

.dial-right .dihead {
	width: 2rem;
	height: 2rem;
	position: absolute;
	right: 0;
}

.dial-right .dihead img {
	width: 100%;
	height: 100%;
}

.dial-right .diname {
	display: block;
	text-align: right;
	font-size: .6rem;
	color: #909090;
	width: 100%;
	height: 1rem;
}

.dial-right .dicon {
	font-size: .65rem;
	background: #bce0ff;
	border: .05rem solid #81bdf7;
	padding: .5rem;
	border-radius: .2rem;
	color: #5b5b5b;
	float: right;
	word-break: break-all;
	background: #fff;
	border: .05rem solid #e1e1e1;
	margin-left: 2.25rem;
}

.dial-right .dicon:before {
	position: absolute;
	content: "";
	top: .7rem;
	right: 2.5rem;
	width: .5rem;
	height: .5rem;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	border: .05rem solid #e1e1e1;
	background: #fff;
	border-width: .05rem .05rem 0 0;
}

.chat-bar {
	width: 100%;
	height: 54px;
	background: #fafafa;
	padding: 10px 10px 0 10px;
	position: fixed;
	z-index: 1000;
	left: 0;
	bottom: 0;
}

.chat-bar-open .chat-bar {
	height: 120px;
}

.chat-bar-open .talk-refresh {
	bottom: 130px;
}

.omask {
	position: fixed;
	background: transparent;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 600;
	background: rgba(0, 0, 0, 0.1);
}

.chat-input {
	border: 1px solid #e1e1e1;
	color: #bfbfbf;
	font-size: 15px;
	height: 34px;
	line-height: 34px;
	border-radius: 4px;
	background: #fff;
	padding: 0 10px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin-right: 40px;
}

.chat-more-opt {
	position: absolute;
	display: block;
	width: 2.7rem;
	text-align: center;
	top: 0;
	right: 0;
	padding: .5rem 0 0 0;
}

.chat-more-opt .iconfont {
	font-size: 30px;
	line-height: 1em;
	color: #bbb;
}

.talk-send {
	box-flex: 0;
	-webkit-box-flex: 0;
	-moz-box-flex: 0;
	width: 3rem;
	text-align: right;
}

.talk-send a {
	display: inline-block;
	width: 2.5rem;
	height: 1.5rem;
	text-align: center;
	line-height: 1.5rem;
	background-color: #5fa413;
	font-size: .75rem;
	color: #fff;
	border-radius: .2rem;
}

.chat-input.disabled {
	background: #e1e1e1;
	pointer-events: none;
}

.chat-wrap {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: #f2f4f6;
	z-index: 2000;
	-webkit-transform: translateY(100%);
	transform: translateY(100%);
	-webkit-transition: all ease .3s;
	transition: all ease .3s;
}

.chat-show {
	-webkit-transform: translateY(0);
	transform: translateY(0);
}

.chat-textarea {
	background: #fff;
}

.chat-textarea textarea {
	width: 100%;
	height: 10rem;
	font-size: .75rem;
	resize: none;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 10px;
	border: 0;
	-webkit-user-modify: read-write-plaintext-only;
}

.chat-btn-group {
	display: -webkit-box;
	display: box;
	box-pack: center;
	border-top: .05rem solid #e1e1e1;
	background: #fff;
	border-width: .05rem 0 .05rem 0;
	border-style: solid;
	border-color: #f1f1f1;
}

.chat-btn-group>li {
	display: -webkit-box;
	display: box;
	-webkit-box-orient: vertical;
	box-orient: vertical;
	-webkit-box-pack: center;
	box-pack: center;
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	box-flex: 1;
	padding: .5rem 0;
	text-align: center;
	border-right: .05rem solid #f1f1f1;
}

.chat-btn-group>li:last-child {
	border-right: none;
}

.chat-btn-group>li.chat-btn-send {
	color: #17b3ec;
}

.chat-btn-group>li.disabled {
	color: #ccc;
	pointer-events: none;
}

.hd-opt-list {
	display: -webkit-box;
	display: box;
	box-pack: center;
	padding-top: 10px;
	height: 0;
	overflow: hidden;
}

.hd-opt-list li {
	display: -webkit-box;
	display: -moz-box;
	display: box;
	-webkit-box-orient: vertical;
	-moz-box-orient: vertical;
	box-orient: vertical;
	-webkit-box-pack: center;
	-moz-box-pack: center;
	box-pack: center;
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	box-flex: 1;
}

.hd-opt-list li a {
	display: block;
	text-align: center;
}

.hd-opt-list li a .iconfont {
	display: inline-block;
	width: 36px;
	height: 36px;
	line-height: 34px;
	color: #fff;
	font-size: 22px;
	border-radius: 50%;
}

.hd-opt-list li a p {
	color: #666;
	font-size: 12px;
	padding-top: 5px;
}

.chat-bar-open .hd-opt-list {
	overflow: auto;
	height: auto;
}


/*全科老师*/

.h55 {
	height: 2.75rem;
}

.tag-orange {
	color: #fff;
	background-color: #ff8d1c;
	display: inline-block;
	box-sizing: border-box;
	font-size: .5rem;
	width: 1.5rem;
	height: .75rem;
	border-radius: 1rem;
	text-align: center;
	line-height: .75rem;
}

.no-read-msg> div {
	width: 14.95rem;
	height: 1.25rem;
	border-radius: .5rem;
	text-align: center;
	color: #fff;
	background: #17b3ec;
	margin: .5rem auto;
	line-height: 1.25rem;
}

.mod {
	background-color: #fff;
}

.mod .mod-hd {
	height: 1.75rem;
	line-height: 1.75rem;
	border-bottom: .05rem solid #e1e1e1;
	padding-left: .5rem;
	color: #666;
}

.mod .mod-hd .title {
	font-size: .75rem;
}

.circle-22 {
	width: 1.1rem;
	height: 1.1rem;
	border-radius: 50%;
	text-align: center;
	line-height: 1.1rem;
	color: #fff;
	display: inline-block;
}

.circle-40 {
	width: 2rem;
	height: 2rem;
	border-radius: 50%;
	text-align: center;
	line-height: 2rem;
	display: inline-block;
}

.circle-22 .iconfont {
	vertical-align: middle;
}

.mod-juming .left,
.mod-juming .right,
.mod-juming .top,
.mod-juming .bottom {
	position: relative;
}

.mod-juming .mod-bd {
	height: 5.75rem;
	font-size: .65rem;
}

.mod-juming .mod-bd .left {
	height: 100%;
	width: 50%;
	border-right: .1rem solid #fff;
	box-sizing: border-box;
	/*background: #dff4f3 url("../../images/doc-ico1.png") no-repeat 1.75rem bottom;
	background-size: 4.6rem 3.575rem;*/
	background: #dff4f3 url("../../images/doc-ico1.png") no-repeat right bottom;
	background-size: auto 3.575rem;
	color: #47b5b0;
	padding: .5rem;
	box-sizing: border-box;
}

.mod-juming .mod-bd .right {
	width: 50%;
	height: 100%;
}

.mod-juming .mod-bd .right .top {
	background: #f9e0df url("../../images/doc-ico2.jpg") no-repeat 5.5rem .3rem;
	background-size: 2rem 2.3rem;
	color: #d9504b;
	width: 100%;
	height: 50%;
	padding: .5rem;
	box-sizing: border-box;
	border-bottom: .1rem solid #fff;
}

.mod-juming .mod-bd .right .bottom {
	background: #f7f0e4 url("../../images/doc-ico3.jpg") no-repeat 5.5rem .3rem;
	background-size: 2rem 2.3rem;
	color: #b98a39;
	width: 100%;
	height: 50%;
	padding: .5rem;
	box-sizing: border-box;
}

.list-fuwu {
	display: -webkit-box;
	display: box;
	height: 4.375rem;
}

.list-fuwu .iconfont {
	color: #fff;
	font-size: 1.4rem;
}

.list-fuwu li {
	-webkit-box-flex: 1;
	box-flex: 1;
	text-align: center;
	width: .05rem;
	border-left: .05rem solid #e1e1e1;
}

.list-fuwu li .circle-40 {
	margin-top: .6rem;
}

.list-fuwu li:first-child {
	border-left: 0;
}

.mod-team .c-mor-hold,
.mod-team .c-lab-mor,
.mod-team .c-lab-mor li {
	height: 1.75rem;
}

.mod-team .c-lab-mor li {
	line-height: 1.75rem;
}

.mod-team .c-lab-mor li.curr a {
	color: #17b3ec;
}

.mod-team .c-lab-mor li:after {
	content: "";
	width: .05rem;
	height: 1rem;
	display: inline-block;
	background-color: #e1e1e1;
	position: absolute;
	right: 0;
	display: inline-block;
	top: .4rem;
}

.mod-team .c-lab-mor li.curr:before {
	background-color: #17b3ec;
}

.nav-bottom {
	display: -webkit-box;
	display: box;
	height: 2.6rem;
	background-color: #fff;
	font-size: .75rem;
	color: #909090;
	border-top: .05rem solid #e1e1e1;
	position: fixed;
	bottom: 0;
	width: 100%;
}

.nav-bottom .iconfont {
	font-size: 1rem;
}

.nav-bottom li {
	-webkit-box-flex: 1;
	box-flex: 1;
	text-align: center;
}

.nav-bottom li.curr {
	color: #17b3ec;
}


/*消息列表*/

.bgc-3fcba9 {
	background-color: #3fcba9;
}

.bgc-52a5f1 {
	background-color: #52a5f1;
}

.bgc-f98d44 {
	background-color: #f98d44;
}

.bgc-67bfed {
	background-color: #67bfed;
}

.bgc-91c66a {
	background-color: #91c66a;
}

.bgc-f792b1 {
	background-color: #f792b1;
}

.bgc-fec157 {
	background-color: #fec157;
}

.bgc-78c8ed {
	background-color: #78c8ed;
}

.bgc-fb8d7c {
	background-color: #fb8d7c;
}

.red-dot {
	background: #f03a3a;
	color: #fff;
	width: 1rem;
	height: 1rem;
	border-radius: 50%;
	font-size: .5rem;
	line-height: 1rem;
	text-align: center;
}

.msg-list {
	background: #fff;
}

.msg-list li {
	display: -webkit-box;
	display: box;
}

.msg-list .info {
	-webkit-box-flex: 1;
	box-flex: 1;
}

.msg-list li .icon-area {
	color: #fff;
	font-size: .75rem;
	margin-right: .75rem;
}

.msg-list li .icon-area .iconfont {
	vertical-align: middle;
	display: inline-block;
}

.doc-info div{}
.doc_type{white-space: nowrap; text-overflow: ellipsis; overflow: hidden; display: block;  max-width: 190px;}