body { background-color: #F2F3F5; overflow: hidden;}
.c-939398 { color: #939398; }
.c-666666 { color: #666666; }
.c-000 { color: #000; }
.c-dn { display: none; }
.c-fwb { font-weight: bold; }
.c-toe{overflow:hidden;word-wrap:normal;white-space:nowrap;text-overflow:ellipsis;}
.width-80 { width: 80px; }
.width-70 { width: 70px; }
.width-60 { width: 60px; }
.width-50 { width: 50px; }
.height-50 { height: 50px; }
.height-55 { height: 55px; }
.br5 { border-radius: 5px; }
.br50 { border-radius: 50px; }
.bb1-ccc { border-bottom: 1px solid #CCC; }
.locate-city { background-color: #F2F3F5; }
.locate-city img { width: 15px; height: 20px; }
.area-list-wrap { border-top: 1px solid #CCC; background-color: #FFF; }
.list-wrap ul li:not(:last-child) .item-content { border-bottom: 1px solid #E7E7E7; }

.searchbar { border-bottom: 1px solid #CCC; }
#search_suggest_text { position: absolute; top: 55px; left: 8px; color: #75BF00; font-size: 18px;}
.locate-city { background-color: #F2F3F5; }
.locate-city img { width: 15px; height: 20px; }
.list-wrap { border-top: 1px solid #CCC; background-color: #FFF; }
.more-result { display: block; height: 35px; line-height: 35px; margin-left: -10px; border-top: 1px solid #E7E7E7; border-bottom: 1px solid #E7E7E7; }
.more-result>span { position: relative; }
.more-result .fa-angle-right { position: absolute; top: -3px; right: -10px;font-size: 22px; }
.search-target-text em { font-weight: bold; color: #75BF00; }
.scroll-wrapper { top: 88px; }
#search_result {overflow: auto;}
#area_list_wrapper { top: 100px; }
.no-result-img { display: block; width: 320px; height: 184px; margin: 0 auto; margin-top: 160px; }