.c-333 { color: #333; }
.c-ti2 { text-indent:2em; }
.c-fwb { font-weight: bold; }
.c-bb1 { border-bottom: 1px solid #DCDCDC; }
.height-38 { height: 38px; }
.lheight-38 { line-height: 38px; }
.lhp150 { line-height: 150%; }
.success_class{text-align: center;}
.remind_class{border="1";}
body{background: #f3f3f3;margin: 0px;}
.success_class{position: absolute;top: 15px;left: 50%;margin-left: -160px;}
.success_class img{width: 320px;height: 110px;background-size: 320px 110px;}
.remind_class{height: 180px;background: #ffffff;border: 1px solid #DCDCDC;border-radius: 10px; margin: 100px 10px 0px;}
.div-content{height: 100px;text-align: center;font-size: 16px;color: #FF6A56;padding-top: 40px;}
.div-remark{height: 40px;text-align: center;}
.c-74bf00{color: #74BF00;}
.c-909090{color: #909090;}
