.common-title{ font-size: 15px;padding: 10px 15px;color: #323232;text-align: center;font-weight: bold;}
.div-xueyaji-img{width: 300px; height: 330px; background-size: 300px 330px;margin: 0 auto;text-align: center;}
.div-xueyaji-img img,.div-xuetangyi-img img{height: auto;width: auto;max-width: 100%;max-height: 100%;margin: 0 auto;}
.div-xuetangyi-img{width: 300px; height: 330px;background-size: 300px 330px;margin: 0 auto;text-align: center;}
.f-mt10{margin-top: 10px;}
.c-color-323232{color: #323232;}
.f-dn{display: none;}
.f-fs13{font-size: 13px;}
.f-fs15{font-size: 15px;}
.f-fwn{font-weight: bold;}
.f-pl15{padding-left: 15px;}
.bor-bom{border-bottom: 1px solid #dcdcdc !important;}
.ml0{margin-left: 0 !important;}
.c-list > li.li-title{margin-left: 0; border: 0; border-bottom: 1px solid #dcdcdc;}
.kuaijiejian-img{width:22px;height: 22px;margin-right: 10px;margin-top: 2px;}
.c-list-info.c-content{height: 35px;line-height: 35px;}
.c-list > li.li-content{border-top: 0;}
.key-img.active{width:17px;height: 17px;margin-right: 10px;margin-top: 5px; background:url(../images/dianxuan_pre.png) no-repeat;background-size: 17px;display: inline-block;}
.key-img{width:17px;height: 17px;margin-right: 10px;margin-top: 5px; background:url(../images/dianxuan_btn.png) no-repeat;background-size: 17px;display: inline-block;}
.invalid{pointer-events: none;}
.bottom-title{font-size:11px;color:#909090;height:29px;line-height:29px;padding-left:10px;}
.s-bc-75BF00 { background-color: #75BF00; }
.s-bc-DCDCDC { background-color: #DCDCDC; }
.bottom-box{position:absolute;z-index:4;bottom:10px;height:48px;padding:0;left: 8%;width: 85%;}
.div-band-info{float: right;color: #909090;font-size: 13px;}
#footer { position: absolute; z-index: 4;bottom: 8px;height: 50px;background: #ffffff;width: 100%;}
#wrapper {position: absolute;z-index: 1;top: 0; bottom: 50px; left: 0; width: 100%;overflow: hidden;}
.input-group .form-select-arrow{display:block;width:14px;height:14px;border:solid #ccc;border-width:2px 2px 0 0;-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-ms-transform:rotate(45deg);-o-transform:rotate(45deg);transform:rotate(45deg);}
#bang-btn.active{background-color: #74bf00;}
/*修改提示框样式*/
.ax-popup .ui-dialog-footer button{font-size: 15px !important;color: #12B7F5 !important;}
.ui-dialog-content{ font-size: 13px;color: #323232;}